.series-chart {
    height: 450px;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgrey;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-dark .series-chart {
    background-color: rgb(48,48,48);
    border: 1px solid #424242;
}

.chart {
    height: 350px;
    width: 100%;
    margin-left: 12px;
    pointer-events: none;
}

.range {
    height: 100px;
    width: 100%;
    overflow: hidden;
}