@namespace Common.Web

@using Common.Application
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts

<div class="series-chart">
    @if (Visibility == "hidden")
    {
        <LoadingIndicator />
    }

    @if (Data != null)
    {
        <div class="chart">
            <SfChart Theme=@Theme.Material Background=@Colors.Transparent Height="350" CustomClass=@Visibility>

                <ChartPrimaryXAxis ValueType=@Syncfusion.Blazor.Charts.ValueType.DateTimeCategory LabelFormat="  yyyy.MM.dd  " LabelIntersectAction=@LabelIntersectAction.Hide EdgeLabelPlacement=@EdgeLabelPlacement.Shift>
                    <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                </ChartPrimaryXAxis>

                <ChartPrimaryYAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double" OpposedPosition="true" LabelIntersectAction=@LabelIntersectAction.Hide Maximum=@Max Minimum=@Min>
                    <ChartAxisMajorGridLines Width="1"></ChartAxisMajorGridLines>
                </ChartPrimaryYAxis>

                <ChartSeriesCollection>
                    <ChartSeries DataSource=@RangedData Fill=@Color XName="Date" YName="Value" Type=@Type Width=@LineWidth Opacity=@Opacity />
                </ChartSeriesCollection>

            </SfChart>
        </div>

        <div class=@("range " + Visibility)>
            <SfRangeNavigator Value=@Range ValueChanged=@RangeChanged ValueType="Syncfusion.Blazor.Charts.RangeValueType.DateTime" Theme=@Theme.Material Height="100" IntervalType=@IntervalType Interval="1" LabelFormat=@LabelFormat>
                <RangeNavigatorEvents Loaded=@OnLoaded></RangeNavigatorEvents>
                <RangeNavigatorSeriesCollection>
                    <RangeNavigatorSeries DataSource=Data Fill=@Color Type=@RangeNavigatorType.Line Width="2" XName="Date" YName="Value" />
                </RangeNavigatorSeriesCollection>

            </SfRangeNavigator>
        </div>
    }
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public IEnumerable<ITemporalValue> Data { get; set; }

    [Parameter]
    [EditorRequired]
    public DateTime StartDate { get; set; }

    [Parameter]
    [EditorRequired]
    public DateTime EndDate { get; set; }

    [Parameter]
    [EditorRequired]
    public string Color { get; set; }

    [Parameter]
    public int LineWidth { get; set; } = 3;

    [Parameter]
    public double Opacity { get; set; } = 3;

    [Parameter]
    public ChartSeriesType Type { get; set; } = ChartSeriesType.Line;

    [Parameter]
    public RangeIntervalType IntervalType { get; set; } = RangeIntervalType.Auto;

    public IEnumerable<ITemporalValue> RangedData { get => Data.Where(d => d.Date >= Range[0] && d.Date <= Range[1]); }

    private DateTime[] Range { get; set; } = new DateTime[] { new DateTime(2017, 1, 1), new DateTime(2018, 1, 1) };

    private decimal Min { get => Data != null && RangedData.Any() ? RangedData.Min(s => s.Value) * 0.8m : 0; }

    private decimal Max { get => Data != null && RangedData.Any() ? RangedData.Max(s => s.Value) * 1.2m : 0; }

    private string Visibility { get; set; } = "hidden";

    private string LabelFormat { get => IntervalType == RangeIntervalType.Months ? "MMMM" : null; }

    protected override void OnParametersSet()
    {
        Range = new DateTime[] { StartDate, EndDate };
    }

    private void RangeChanged(object args)
    {
        Range = (DateTime[])args;
    }

    private void OnLoaded(object args)
    {
        Visibility = "visible";
    }
}
