/* _content/Waikiki.Common.Frontend/Buttons/ToggleButton.razor.rz.scp.css */
.toggle-body[b-x43ib33iwl] {
    display: flex;
    justify-content: center;
    --border-width: 6px;
    --border-radius: 55px;
    --font-size: 30px;
    --accent: var(--primary-color);
    transform: scale(0.3) translate(0, 0);
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
}

.toggle-container[b-x43ib33iwl] {
    perspective: 800px;
    width: 472px;
}

.toggle[b-x43ib33iwl] {
    width: 472px;
    position: relative;
    border: solid var(--border-width) var(--accent);
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
    transform-style: preserve-3d;
    perspective: 800px;
    max-width: 100% !important;
}

    .toggle > input[type="radio"][b-x43ib33iwl] {
        display: none;
    }

    .toggle > #choice1:checked ~ #flap[b-x43ib33iwl] {
        transform: rotateY(-180deg);
    }

        .toggle > #choice1:checked ~ #flap > .content[b-x43ib33iwl] {
            transform: rotateY(-180deg);
        }

    .toggle > #choice2:checked ~ #flap[b-x43ib33iwl] {
        transform: rotateY(0deg);
    }

    .toggle > label[b-x43ib33iwl] {
        display: inline-block;
        min-width: 170px;
        padding: 30px;
        font-size: var(--font-size);
        text-align: center;
        color: var(--accent);
        cursor: pointer;
    }

    .toggle > label[b-x43ib33iwl],
    .toggle > #flap[b-x43ib33iwl] {
        font-weight: bold;
        text-transform: capitalize;
    }

    .toggle > #flap[b-x43ib33iwl] {
        position: absolute;
        top: calc(0px - var(--border-width));
        left: 50%;
        height: calc(100% + var(--border-width) * 2);
        width: 51%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size);
        background-color: var(--accent);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        transform-style: preserve-3d;
        transform-origin: left;
        transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
    }

        .toggle > #flap > .content[b-x43ib33iwl] {
            color: #ffffff;
            transition: transform 0s linear 0.25s;
            transform-style: preserve-3d;
        }
/* _content/Waikiki.Common.Frontend/Charts/MultiSeriesChart.razor.rz.scp.css */
.series-chart[b-2cb5s6gie6] {
    height: 450px;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgrey;
    margin: 20px;
}

.body-dark .series-chart[b-2cb5s6gie6] {
    background-color: rgb(48,48,48);
    border: 1px solid #424242;
}

.chart[b-2cb5s6gie6] {
    height: 350px;
    width: 100%;
    margin-left: 12px;
    pointer-events: none;
}

.range[b-2cb5s6gie6] {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.legend[b-2cb5s6gie6] {
    min-height: 40px;
    margin-top: -40px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}

.body-light .legend[b-2cb5s6gie6] {
    background-color: white;
    border-top: 1px solid lightgrey;
    padding-right: 21px;
    padding-left: 21px;
}

.body-dark .legend[b-2cb5s6gie6] {
    background-color: rgb(48,48,48);
}
/* _content/Waikiki.Common.Frontend/Charts/RealtimeSeriesChart.razor.rz.scp.css */
.series-chart[b-bzm5uizeeq] {
    height: 350px;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgrey;
    margin: 20px;
}

.body-dark .series-chart[b-bzm5uizeeq] {
    background-color: rgb(48,48,48);
    border: 1px solid #424242;
}

.chart[b-bzm5uizeeq] {
    height: 350px;
    width: 100%;
    margin-left: 12px;
    pointer-events: none;
}
/* _content/Waikiki.Common.Frontend/Charts/SingleSeriesChart.razor.rz.scp.css */
.series-chart[b-iwlyhgztz0] {
    height: 450px;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgrey;
    margin: 20px;
}

.body-dark .series-chart[b-iwlyhgztz0] {
    background-color: rgb(48,48,48);
    border: 1px solid #424242;
}

.chart[b-iwlyhgztz0] {
    height: 350px;
    width: 100%;
    margin-left: 12px;
    pointer-events: none;
}

.range[b-iwlyhgztz0] {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
/* _content/Waikiki.Common.Frontend/Charts/StockChart.razor.rz.scp.css */
.stock-chart[b-0em9yueq9m] {
    height: 450px;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgrey;
    margin: 20px;
}

.body-dark .stock-chart[b-0em9yueq9m] {
    background-color: rgb(48,48,48);
    border: 1px solid #424242;
}

.chart[b-0em9yueq9m] {
    height: 350px;
    width: 100%;
    margin-left: 12px;
    pointer-events: none;
}

.range[b-0em9yueq9m] {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
/* _content/Waikiki.Common.Frontend/Components/CircleImage.razor.rz.scp.css */
.circle-image[b-0xzi9lkdda] {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 99em;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}
/* _content/Waikiki.Common.Frontend/Components/DropArea.razor.rz.scp.css */
p[b-q8xkub9rs8] {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropzone[b-q8xkub9rs8] {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-dark .dropzone[b-q8xkub9rs8] {
    background-color: #424242;
}

[draggable][b-q8xkub9rs8] {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
    width: 600px;
    height: 80px;
    max-width: 95%;
}

.body-dark [draggable][b-q8xkub9rs8] {
    background-color: #424242;
}

.intransit[b-q8xkub9rs8] {
    opacity: 0.2;
}

[draggable] div[b-q8xkub9rs8] {
    width: inherit;
}

.spacing[b-q8xkub9rs8] {
    height: 20px;
}
/* _content/Waikiki.Common.Frontend/Components/ImagePicker.razor.rz.scp.css */
.upload-zone[b-3wy8walhzr] {
    border-style: dashed;
    border-radius: 4px;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}
/* _content/Waikiki.Common.Frontend/Components/Link.razor.rz.scp.css */
a[b-7bk747ardv] {
    text-decoration: none;
}
/* _content/Waikiki.Common.Frontend/Components/LoadingIndicator.razor.rz.scp.css */
.loadingindicator[b-r7u3um7lkw] {
    margin: auto;
    margin-top: 180px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: loader-b-r7u3um7lkw 2s linear infinite;
}

@keyframes loader-b-r7u3um7lkw {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* _content/Waikiki.Common.Frontend/Components/LoginForm.razor.rz.scp.css */
.validation-message[b-s9khf4yn7a] {
    width: 100%;
    margin-bottom: 10px;
}
/* _content/Waikiki.Common.Frontend/Components/MenuBar.razor.rz.scp.css */

.menu-background[b-u6r8eo3bhe] {
    position: fixed;
    width: 100%;
    height: 69px;
    background-color: var(--primary-color);
    z-index: 10;
    top: 0;
}

.menu-logo[b-u6r8eo3bhe] {
    position: fixed;
    left: 53px;
    top: 6px;
    height: 60px;
    cursor: pointer;
    font-weight: bold;
    font-size: 50px;
    color: white;
    font-family: Arial, varela, sans-serif !important;
    max-width: calc(100vw - 100px);
    overflow: hidden;
    text-overflow: clip;
}

    .menu-logo[b-u6r8eo3bhe]::first-letter {
        color: var(--secondary-color);
    }

@media (max-width: 420px) {
    .menu-logo[b-u6r8eo3bhe] {
        left: 20px;
    }
}

.menu-dropdown[b-u6r8eo3bhe] {
    position: fixed;
    right: 0;
    top: 28px;
    width: 71px;
    height: 22px;
    cursor: pointer;
}
/* _content/Waikiki.Common.Frontend/Components/SegmentedControl.razor.rz.scp.css */
.segmented-control[b-7ah8jwj4zc] {
    display: flex;
}

.segmented-control-btn[b-7ah8jwj4zc] {
    flex: 1 0;
    height: 100%;
    background: #efefef;
}

.segmented-control input[b-7ah8jwj4zc] {
    position: absolute;
    opacity: 0;
}

    .segmented-control input + label[b-7ah8jwj4zc] {
        font-family: "Helvetica", "Arial", sans-serif !important;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 2px;
        color: #333;
        cursor: pointer;
        transition: 0.3s ease;
    }

        .segmented-control input + label[b-7ah8jwj4zc]::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";
            transition: 0.3s ease;
            opacity: 0;
        }

    .segmented-control input[type=radio]:checked + label[b-7ah8jwj4zc] {
        color: white;
    }

        .segmented-control input[type=radio]:checked + label[b-7ah8jwj4zc]::before {
            background: var(--primary-color);
            transition-delay: 0.1s;
            opacity: 1;
            border-radius: 5px;
        }

.segmented-control .segmented-control-btn:last-of-type[b-7ah8jwj4zc] {
    border-radius: 0 5px 5px 0;
}

.segmented-control .segmented-control-btn:first-of-type[b-7ah8jwj4zc] {
    border-radius: 5px 0 0 5px;
}

.body-dark .segmented-control-btn[b-7ah8jwj4zc] {
    background: #323232;
}

.body-dark .segmented-control input + label[b-7ah8jwj4zc] {
    color: white;
}
/* _content/Waikiki.Common.Frontend/Components/ThemeToggle.razor.rz.scp.css */
.toggle-wrapper[b-62qe5717bo] {
    width: 353px;
    margin: 10px;
    border: solid 3px var(--primary-color);
    border-radius: 55px;
}

    .toggle-wrapper label[b-62qe5717bo] {
        font-size: 17px;
        display: block;
    }

.toggleContainer[b-62qe5717bo] {
    width: 100%;
    position: relative;
}

    .toggleContainer .toggleOption[b-62qe5717bo] {
        font-family: "Helvetica", "Arial", sans-serif !important;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-align: center;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        font-size: 16px;
    }

        .toggleContainer .toggleOption.selected[b-62qe5717bo] {
            color: #ffffff;
            cursor: initial;
        }

    .toggleContainer .toggle[b-62qe5717bo] {
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        transition: all 0.4s ease-in-out;
        background: var(--secondary-color);
        border-radius: 55px;
    }
/* _content/Waikiki.Common.Frontend/Containers/Container.razor.rz.scp.css */
.container[b-6dwgsq2zns] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@media (min-width: 1920px) {
    .container[b-6dwgsq2zns] {
        padding-left: 24px;
        padding-right: 24px;
    }
}
/* _content/Waikiki.Common.Frontend/Containers/Horizontal.razor.rz.scp.css */
.horizontal[b-5ll2v7kx6g] {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
/* _content/Waikiki.Common.Frontend/Containers/Layout.razor.rz.scp.css */
div[b-nnhta3we9u] {
    display: none;
}

@media (max-width: 600px) {
    .mobile[b-nnhta3we9u] {
        display: contents;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .tablet[b-nnhta3we9u] {
        display: contents;
    }
}

@media (min-width: 1201px) and (max-width: 1900px) {
    .laptop[b-nnhta3we9u] {
        display: contents;
    }
}

@media (min-width: 1901px) and (max-width: 2540px) {
    .desktop[b-nnhta3we9u] {
        display: contents;
    }
}

@media (min-width: 2541px) {
    .ultrawide[b-nnhta3we9u] {
        display: contents;
    }
}
/* _content/Waikiki.Common.Frontend/Containers/Paper.razor.rz.scp.css */
.paper[b-mxvdn23y9z] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12);
}

@media (max-width: 1024px) {
    .paper[b-mxvdn23y9z] {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

.body-dark .paper[b-mxvdn23y9z] {
    background-color: #424242;
}
/* _content/Waikiki.Common.Frontend/Containers/Vertical.razor.rz.scp.css */
.vertical[b-5bjq67yisv] {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* _content/Waikiki.Common.Frontend/Pagination/PageIcon.razor.rz.scp.css */
.active[b-5c6y4bo8ri] {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.inactive[b-5c6y4bo8ri] {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.38);
}

svg[b-5c6y4bo8ri] {
    margin: 5px;
}

text[b-5c6y4bo8ri] {
    fill: #fff;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
/* _content/Waikiki.Common.Frontend/Stepper/Step.razor.rz.scp.css */
.step[b-q5igamu8cf] {
    padding-left: 8px;
    padding-right: 8px;
    flex: 1;
    position: relative;
}

span[b-q5igamu8cf] {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.01071em;
    margin-top: 16px;
}

.inactive[b-q5igamu8cf] {
    color: #bdbdbd;
}

.line[b-q5igamu8cf] {
    top: 12px;
    left: calc(-50% + 20px);
    right: calc(50% + 20px);
    position: absolute;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    border-color: #bdbdbd;
    border-top-style: solid;
    border-top-width: 1px;
}

.body-dark .active[b-q5igamu8cf] {
    color: #fff;
}
/* _content/Waikiki.Common.Frontend/Stepper/StepIcon.razor.rz.scp.css */
.step-icon-active[b-yj73pwvk9o] {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.step-icon-completed[b-yj73pwvk9o] {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: transparent;
}

    .step-icon-completed path[b-yj73pwvk9o] {
        color: var(--primary-color);
    }

.step-icon-inactive[b-yj73pwvk9o] {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.38);
}

text[b-yj73pwvk9o] {
    fill: #fff;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


.body-dark .step-icon-inactive[b-yj73pwvk9o] {
    color: rgba(255, 255, 255, 0.5);
}
/* _content/Waikiki.Common.Frontend/Stepper/Stepper.razor.rz.scp.css */
.stepper[b-39bxb8bbiy] {
    width: 100%;
    display: flex;
    padding: 24px;
}
