@namespace Common.Web
@inherits StringInput

@using Syncfusion.Blazor.Inputs
@using Microsoft.AspNetCore.Components.Forms

<div class=@($"input {Class}") style=@($"{Css}")>
    <SfTextBox Value=@Value ValueChanged=@ValueChanged FloatLabelType=@FloatLabelType.Auto Placeholder=@Label CssClass="e-outline e-bigger" Enabled=@(!Disabled) Type=@Type Input=@OnValueEntered ValueExpression=@ValidationExpression ValidateOnInput=@ValidateOnInput />
    @if (ValidationExpression != null)
    {
        <ValidationMessage For=@ValidationExpression />
    }
</div>