.active {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.inactive {
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.38);
}

text {
    fill: #fff;
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}