@namespace Common.Web

<a href=@Href style="text-decoration: none;">@ChildContent</a>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Href { get; set; }
}
