@namespace Common.Web

<a href=@Href>@ChildContent</a>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    [EditorRequired]
    public string Href { get; set; }
}
