@namespace Common.Web

@using Microsoft.AspNetCore.Components.Web;

<div class="menu-background">
    <p @onclick=@Navigate class="menu-logo">@Title</p>
    <img @onclick=@OnMenuClick @onmousedown=@Check class="menu-dropdown" src="./images/menu-button.png" alt="menu" />
</div>

@code
{
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback OnMenuClick { get; set; }

    [Parameter]
    public EventCallback Check { get; set; }

    private void Navigate()
    {
        NavigationManager.NavigateTo("./");
    }
}
