@namespace Common.Web

@using Common.Application
@using Microsoft.AspNetCore.Components.Forms

<Paper Width="1920px" Margin=@(new Border("0px", "15px")) Padding=@(new Border("120px", "20px" ))>
    <Caption Style="padding-bottom: 20px;">Change password</Caption>
    <EditForm OnValidSubmit=@ChangePassword Model=@Model>
        <DataAnnotationsValidator />
        <Horizontal Class="input-line-2-with-button" HorizontalAlign=@HorizontalAlignment.SpaceBetween Wrap=@FlexWrap.Wrap>
            <TextField @bind-Value=@Model.OldPassword Label="Old password" ValidationExpression=@(() => Model.OldPassword) Width="calc(50% - 150px)" />
            <TextField @bind-Value=@Model.NewPassword Label="New password" ValidationExpression=@(() => Model.NewPassword) Width="calc(50% - 150px)" />
            <Button Type="submit" Width="180px" Height="56px" Margin=@Border.Top("8px")>Change password</Button>
        </Horizontal>
    </EditForm>
</Paper>

@code
{
    [Parameter]
    [EditorRequired]
    public string Username { get; set; }

    [Inject]
    private UserService<IUser> UserService { get; set; }

    [Inject]
    protected ToastService Toaster { get; set; }

    private ChangePasswordRequest Model { get; set; } = new ChangePasswordRequest();

    private async Task ChangePassword()
    {
        var response = await UserService.ChangePassword(Model);
        if (response.IsSuccess)
        {
            await Toaster.Add("Password changed", ToastType.Success);
        }
        else
        {
            await Toaster.Add(response.Content, ToastType.Danger);
        }
    }
}
