@namespace Common.Web

@using Common.Application
@using Microsoft.AspNetCore.Components.Forms

<Paper Width="1920px" Margin=@(new Border("0px", "15px")) Padding=@(new Border("60px", "20px" ))>
    <Label Style="padding-bottom: 20px;">Change password</Label>
    <EditForm OnValidSubmit=@ChangePassword Model=@Model>
        <DataAnnotationsValidator />
        <Horizontal Class="input-line" HorizontalAlign=@HorizontalAlignment.SpaceBetween Wrap=@FlexWrap.Wrap>
            <TextField @bind-Value=@Model.OldPassword Label="Old password" ValidationExpression=@(() => Model.OldPassword) Width="40%" />
            <TextField @bind-Value=@Model.NewPassword Label="New password" ValidationExpression=@(() => Model.NewPassword) Width="40%" />
            <Button Type="submit" Height="56px">Change password</Button>
        </Horizontal>
    </EditForm>
</Paper>

@code
{
    [Parameter]
    [EditorRequired]
    public string Username { get; set; }

    [Inject]
    private UserService UserService { get; set; }

    [Inject]
    protected ToastService Toaster { get; set; }

    private ChangePasswordRequest Model { get; set; } = new ChangePasswordRequest();

    private async Task ChangePassword()
    {
        var response = await UserService.ChangePassword(Model);
        if (response.IsSuccess)
        {
            await Toaster.Add("Password changed", ToastType.Success);
        }
        else
        {
            await Toaster.Add(response.Content, ToastType.Danger);
        }
    }
}
