.segmented-control {
    display: flex;
    overflow: scroll;
    position: relative;
}

    .segmented-control::-webkit-scrollbar {
        display: none;
    }

.segmented-control-btn {
    flex: 1 0;
    height: 100%;
    background: #efefef;
    min-width: 120px;
}

.segmented-control input {
    position: absolute;
    opacity: 0;
}

    .segmented-control input + label {
        font-family: "Helvetica", "Arial" !important;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 2px;
        color: #333;
        cursor: pointer;
        transition: 0.3s ease;
    }

        .segmented-control input + label::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";
            transition: 0.3s ease;
            opacity: 0;
        }

    .segmented-control input[type=radio]:checked + label {
        color: white;
    }

        .segmented-control input[type=radio]:checked + label::before {
            background: var(--primary-color);
            transition-delay: 0.1s;
            opacity: 1;
            border-radius: 5px;
        }

.segmented-control .segmented-control-btn:last-of-type {
    border-radius: 0 5px 5px 0;
}

.segmented-control .segmented-control-btn:first-of-type {
    border-radius: 5px 0 0 5px;
}

.body-dark .segmented-control-btn {
    background: #323232;
}

.body-dark .segmented-control input + label {
    color: white;
}
