@namespace Common.Web

@using Microsoft.AspNetCore.Components.Web

<div class="segmented-control" style=@($"width: {Width}; min-width: {MinWidth}; max-width: {MaxWidth}; margin: {Margin};")>
    @foreach (var tab in Tabs)
    {
        <div class="segmented-control-btn">
            <input @onclick="@(async () => await ChangeTab(tab))" type="radio" id=@tab name=@Id value=@tab checked=@(tab == Tab)>
            <label for=@tab>@tab</label>
        </div>
    }
</div>

@code
{
    [Parameter]
    public string Tab { get; set; }

    [Parameter]
    public EventCallback<string> TabChanged { get; set; }

    [Parameter]
    [EditorRequired]
    public List<string> Tabs { get; set; }

    [Parameter]
    [EditorRequired]
    public string Id { get; set; }

    [Parameter]
    public string Width { get; set; } = "100%";

    [Parameter]
    public string MaxWidth { get; set; } = "100%";

    [Parameter]
    public string MinWidth { get; set; } = "unset";

    [Parameter]
    public Border Margin { get; set; } = new Border("0px");

    private async Task ChangeTab(string tab)
    {
        Tab = tab;
        StateHasChanged();
        await Task.Delay(300);
        await TabChanged.InvokeAsync(tab);
    }
}