@namespace Common.Web

@using Syncfusion.Blazor.Popups

@if (Enabled && Content != null)
{
    <SfTooltip Content=@Content style="width: fit-content;">
        <div style=@Style>
            @ChildContent
        </div>
    </SfTooltip>

}
else
{
    @ChildContent
}

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    [EditorRequired]
    public string Content { get; set; }

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public bool DisableClick { get; set; } = false;

    private string Style { get => $"display: block; pointer-events: {(DisableClick ? "none" : "all")};"; }
}
