@namespace Common.Web

@using Syncfusion.Blazor.Popups

<SfTooltip Content=@Content CssClass=@(Enabled ? "visible" : "hidden")>
    <div style=@($"display: block; pointer-events: {(DisableClick ? "none" : "all")};")>
        @ChildContent
    </div>
</SfTooltip>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    [EditorRequired]
    public string Content { get; set; }

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public bool DisableClick { get; set; } = false;
}
