@namespace Common.Web
@inherits AppDiagram

@using Syncfusion.Blazor.Charts;

<div style=@($"height: {Height}; width: {Width}")>
    <SfChart Height=@Height Background=@Colors.Transparent>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Visible="false" />
        <ChartPrimaryYAxis LabelFormat=@("{value}%") />
        <ChartSeriesCollection>
            <ChartSeries DataSource=@Data XName="Id" YName="Data" PointColorMapping="Color" Type=@ChartSeriesType.Column>
                <ChartMarker><ChartDataLabel Visible="true" Position=@LabelPosition.Middle Name="Label" /></ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@if (ShowLegend)
{
    <DiagramLegend Data=@Data />
}
