@namespace Common.Web
@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge;

<div class="diagram" style=@($"height: {Height}; width: {Width}")>
    <SfCircularGauge Theme=@Theme.Material Background=@Colors.Transparent>
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="230" EndAngle="130" Radius="90%" Minimum=@Min Maximum=@Max>
                <CircularGaugeAxisLineStyle Width="0" />
                <CircularGaugeAxisMajorTicks Width="0" />
                <CircularGaugeAxisMinorTicks Width="0" />
                <CircularGaugeAxisLabelStyle Position="Position.Inside" AutoAngle="true" Offset=@LabelOffset />
                <CircularGaugeRanges>
                    <CircularGaugeRange Start=@Min End=@Low StartWidth="35" EndWidth="35" Radius="90%" Color=@Colors.Best />
                    <CircularGaugeRange Start=@Low End=@TargetLow StartWidth="35" EndWidth="35" Radius="90%" Color=@Colors.Good />
                    <CircularGaugeRange Start=@TargetLow End=@TargetHigh StartWidth="35" EndWidth="35" Radius="90%" Color=@Colors.Normal />
                    <CircularGaugeRange Start=@TargetHigh End=@High StartWidth="35" EndWidth="35" Radius="90%" Color=@Colors.Bad />
                    <CircularGaugeRange Start=@High End=@Max StartWidth="35" EndWidth="35" Radius="90%" Color=@Colors.Worst />
                </CircularGaugeRanges>
                <CircularGaugePointers>
                    <CircularGaugePointer Value=@Actual Radius="45%" PointerWidth="7" Color=@Colors.Primary>
                        <CircularGaugePointerAnimation Enable="false" />
                        <CircularGaugeCap Radius="10" Color=@Colors.White>
                            <CircularGaugeCapBorder Width="4" Color=@Colors.Primary />
                        </CircularGaugeCap>
                        <CircularGaugeNeedleTail Length="25%" Color=@Colors.Primary />
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Angle="180" Radius="20%" ZIndex="1">
                        <ContentTemplate>
                            <Subtitle Color=@Colors.Primary Margin=@Border.Left("-40px")>@Label</Subtitle>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public double Actual { get; set; }

    [Parameter]
    [EditorRequired]
    public string Label { get; set; }

    [Parameter]
    [EditorRequired]
    public double Min { get; set; }

    [Parameter]
    [EditorRequired]
    public double Low { get; set; }

    [Parameter]
    [EditorRequired]
    public double TargetLow { get; set; }

    [Parameter]
    [EditorRequired]
    public double TargetHigh { get; set; }

    [Parameter]
    [EditorRequired]
    public double High { get; set; }

    [Parameter]
    [EditorRequired]
    public double Max { get; set; }

    [Parameter]
    public string Width { get; set; } = "400px";

    [Parameter]
    public string Height { get; set; } = "400px";

    [Parameter]
    public int LabelOffset { get; set; } = 50;
}
