.stockchart {
    height: 450px;
    width: 100%;
    padding: 20px;
}

.chart {
    height: 350px;
    width: 100%;
    margin-left: 12px;
}

.range {
    height: 100px;
    width: 100%;
}

.loadingindicator {
    margin: auto;
    margin-top: 180px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}