@namespace Common.Web
@inherits AppTypography

<h2 style=@($"font-size: 34px; font-weight: 400; line-height: 40px; letter-spacing: 0.25px; text-align: {Align}; color: {Color}; margin: {Margin.ToString()}; {Style}") class=@Class>@ChildContent</h2>
