@namespace Common.Web
@inherits AppTypography

<p onclick=@OnClick style=@($"font-size: {Size}px; font-weight: {Weight}; width: {Width}; letter-spacing: 0.5px; text-align: {Align}; color: {Color}; margin: {Margin.ToString()}; {Style}") class=@Class>@ChildContent</p>

@code
{
    [Parameter]
    public int Size { get; set; } = 16;

    [Parameter]
    public int Weight { get; set; } = 400;
}