@namespace Common.Web
@inherits AppTypography

<h5 style=@($"font-size: 20px; font-weight: 500; line-height: 32px; letter-spacing: 0.25px; text-align: {Align}; color: {Color}; margin: {Margin.ToString()}; {Style}") class=@Class>@ChildContent</h5>
