@namespace Common.Web

<p onclick=@OnClick style=@($"font-size: {Size}px; font-weight: {Weight}; letter-spacing: 0.5px; text-align: {Align}; color: {Color}; margin: {Margin.ToString()}; {Style}") class=@Class>@ChildContent</p>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Size { get; set; } = 16;

    [Parameter]
    public int Weight { get; set; } = 400;

    [Parameter]
    public string Align { get; set; } = TextAlignment.Center;

    [Parameter]
    public string Color { get; set; } = "";

    [Parameter]
    public Border Margin { get; set; } = new Border("0px");

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }
}