@namespace Common.Web
@inherits AppTypography

<h1 style=@($"font-size: 48px; font-weight: 400; line-height: 50px; text-align: {Align}; color: {Color}; margin: {Margin.ToString()}; {Style}") class=@Class>@ChildContent</h1>