@namespace Common.Web

<div class="step">
    @if (Number != 0)
    {
        <span class="step-line"></span>
    }
    <Vertical>
        <StepIcon Active=@Active Completed=@Completed Number=@Number />
        <span class=@("step-label" + (Active || Completed ? "active" : "inactive"))>@Title</span>
    </Vertical>
</div>

@code
{
    [Parameter]
    public bool Active { get; set; } = false;

    [Parameter]
    public bool Completed { get; set; } = false;

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public string Title { get; set; }
}