/* Basic styles */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, table, text, label {
    margin: 0;
    font-family: Arial !important;
    -webkit-font-smoothing: auto !important;
}

h5 {
    margin-bottom: 10px;
}

.clickable {
    cursor: pointer;
}

a.link {
    text-decoration: none;
    color: var(--primary-color) !important;
    cursor: pointer;
}

.e-tooltip {
    cursor: pointer !important;
}

form {
    width: 100%;
}

form, button, img {
    max-width: 90vw;
}

    form .input {
        margin-top: 15px !important;
    }

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.center-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-last-item > :last-child:nth-child(odd) {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (max-width: 1880px) {
    .center-last-item > div {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.accordion-container {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 0 0 rgba(0,0,0,0.12);
}

.framed {
    border-style: solid;
    border-width: 1px;
    border-color: var(--frame-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.validation-message {
    color: red !important;
}

/* Dark themes */

.body-dark {
    background-color: var(--darkgrey-color);
}

    .body-dark h1, .body-dark h2, .body-dark h3, .body-dark h4, .body-dark h5, .body-dark h6, .body-dark p, .body-dark label, .body-dark div, .body-dark a, .body-dark li {
        color: white;
    }

    .body-dark input, .body-dark textarea, .body-dark span {
        color: white !important;
    }

    .body-dark text {
        fill: white;
    }

    .body-dark .logo-button {
        background-color: var(--lightgrey-color);
    }

    .body-dark .custom-icons {
        filter: invert(99%) sepia(11%) saturate(3%) hue-rotate(304deg) brightness(114%) contrast(100%);
    }

/* Autocomplete */

.e-float-text.e-label-bottom {
    line-height: 70px !important;
}

input: -webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.body-dark input:-webkit-autofill, .body-dark input:-webkit-autofill:hover, .body-dark input:-webkit-autofill:focus, .body-dark input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--lightgrey-color) inset !important;
}

/* Color picker */

.e-colorpicker-popup {
    height: 56px;
}

.body-dark .sf-colorpicker {
    background-color: var(--lightgrey-color);
}

.input .framed:has(+ .validation-message) {
    border-color: #f44336;
}

/* Charts */

.chart {
    height: 350px;
    width: 100%;
    margin-left: 12px;
    pointer-events: none;
}

.range {
    width: 100%;
    overflow: hidden;
}

text {
    font-weight: 400;
}

.body-light .e-chart svg rect {
    fill: white !important;
}

.e-accumulationchart svg, .e-accumulationchart svg rect, .e-accumulationchart svg g {
    max-height: 100% !important;
}

.e-accumulationchart text {
    fill: white !important;
}

.range > div > svg > rect {
    fill: transparent !important;
}

/* Dialog */

.e-dlg-header {
    width: 100% !important;
    overflow: visible !important;
}

.e-dlg-content {
    padding-left: 80px !important;
    padding-right: 80px !important;
    padding-bottom: 40px !important;
}

.body-dark .e-dlg-header-content, .body-dark .e-dlg-content {
    background-color: var(--lightgrey-color) !important;
}

.e-dialog {
    max-height: unset !important;
}

/* Dropdown */

.body-dark .e-dropdownbase .e-list-item {
    background-color: var(--darkgrey-color) !important;
    color: white;
}

    .body-dark .e-dropdownbase .e-list-item:hover {
        color: var(--primary-color) !important;
    }

/* Checkbox */

.e-frame:not(.e-check) {
    background-color: transparent !important;
}

.e-checkbox-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Sidebar */

.body-dark .e-sidebar {
    background-color: var(--lightgrey-color) !important;
}

.e-sidebar, .e-sidebar-overlay {
    margin-top: 69px !important;
}

.container.e-content-animation {
    margin-top: 70px !important;
}

/* Button */

.e-btn {
    background-color: transparent;
    letter-spacing: 0.09em;
    border-radius: 4px;
}

    .e-btn.e-fill:not(.logo-button) {
        color: white;
    }

    .e-btn.e-outline {
        border-width: 2px !important;
    }

    .e-btn:disabled:not(.e-outline) {
        background-color: grey !important;
    }

/* Inputs */

.e-float-input:not(.e-input-focus):not(.e-success):not(.e-error):not(:hover) {
    border-bottom-color: var(--frame-color) !important;
    border-left-color: var(--frame-color) !important;
    border-right-color: var(--frame-color) !important;
}

    .e-float-input:not(.e-input-focus):not(.e-success):not(.e-error):not(:hover):not(.e-valid-input) {
        border-top-color: var(--frame-color) !important;
    }

    .e-float-input:not(.e-input-focus):not(.e-success):not(.e-error):not(:hover) .e-label-top::before, .e-float-input:not(.e-input-focus):not(.e-success):not(.e-error):not(:hover) .e-label-top::after {
        border-top-color: var(--frame-color) !important;
    }

.body-dark .e-label-bottom, .body-dark .e-label-top {
    color: rgba(255, 255, 255, 0.7) !important;
}

.e-disabled {
    -webkit-text-fill-color: unset !important;
}

/* Accordion */

.body-dark .e-accordion, .body-dark .e-acrdn-header, .body-dark .e-acrdn-panel {
    background-color: var(--lightgrey-color) !important;
}

.e-acrdn-root {
    max-width: 100%;
}

.e-acrdn-item {
    border-width: 0 !important;
}

.e-acrdn-header {
    height: 20px;
}

.e-acrdn-header-content {
    width: 100%;
}

.e-acrdn-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Date picker */

.body-dark .e-datepicker .e-calendar, .body-dark .e-datepicker .e-calendar .e-footer-container {
    background-color: var(--lightgrey-color) !important;
}

.body-dark .e-datepicker .e-title, .body-dark .e-datepicker .e-week-header th {
    color: white !important;
}

.body-dark .e-datepicker .e-focused-date span, .body-dark .e-datepicker span:hover {
    color: black !important;
}

/* Navigation */

.nav-link {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    margin: 10px;
    width: 90%;
    height: 40px;
    font-weight: 600;
    line-height: 22px;
    color: black;
}

.nav-link-active {
    color: var(--primary-color) !important;
}

.nav-link:hover {
    color: var(--primary-color)
}

/* File upload */

.upload-zone input[type=file] {
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 1860px) {
    .upload-zone input[type=file] {
        width: 80%;
    }
}

/* Data grid */

td {
    background-color: transparent !important;
}

.sf-grid .e-rowcell {
    color: unset !important;
}

.e-emptyrow {
    text-align: center;
}

.body-dark .sf-grid .e-table, .body-dark .sf-grid .e-headercell {
    background-color: rgb(48,48,48) !important;
}

.body-dark .sf-grid .e-headercell {
    border-color: rgb(219, 219, 219) !important;
}

.body-dark .e-emptyrow {
    color: white !important;
}

.mobile .e-grid {
    border-style: solid;
}

/* Mobile login */

@media (max-width: 500px) {
    .page {
        margin-top: 0px !important;
    }

    Tab == "National" ? "National" : User.District
    .paper {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .input-line {
        flex-direction: column !important;
    }

        .input-line .input {
            width: 100% !important;
        }

    .login {
        justify-content: start !important;
    }

        .login .paper {
            height: 100% !important;
        }

        .login img {
            height: unset !important;
        }
}

@media (max-width: 800px) {
    .input-line-2-with-button {
        flex-direction: column !important;
    }

        .input-line-2-with-button .input {
            width: 100% !important;
        }
}
