@namespace Common.Web
@inherits AppContainer

<div class=@($"container {Class}") id=@Id style=@($"width: {Width}; max-width: {MaxWidth}; height: {Height}; padding: {Padding}; margin: {Margin}; justify-content: {VerticalAlign}; {Style}") onclick=@OnClick>
    @ChildContent
</div>
