@namespace Common.Web
@inherits AppContainer

<div class=@($"container {Class}") id=@Id style=@($"justify-content: {HorizontalAlign}; align-items: {VerticalAlign}; flex-wrap: {Wrap}; gap: {Gap}; {Css}") onclick=@OnClick>
    @ChildContent
</div>
