div {
    display: none;
}

@media (max-width: 600px) {
    .mobile {
        display: flex;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .tablet {
        display: flex;
    }
}

@media (min-width: 1201px) and (max-width: 1900px) {
    .laptop {
        display: flex;
    }
}

@media (min-width: 1901px) and (max-width: 2540px) {
    .desktop {
        display: flex;
    }
}

@media (min-width: 2541px) {
    .ultrawide {
        display: flex;
    }
}