@namespace Common.Web
@inherits AppContainer

<div class=@($"paper {Class}") style=@($"align-items: {HorizontalAlign}; justify-content: {VerticalAlign}; {Css}") onclick=@OnClick>
    @ChildContent
</div>
