@namespace Common.Web
@inherits AppContainer

<div class=@($"paper {Class}") style=@($"width: {Width}; min-width: {MinWidth}; max-width: {MaxWidth}; height: {Height}; min-height: {MinHeight}; padding: {Padding.ToString()}; margin: {Margin.ToString()}; align-items: {HorizontalAlign}; justify-content: {VerticalAlign}; {Style}") onclick=@OnClick>
    @ChildContent
</div>
