@namespace Common.Web
@inherits AppContainer

<div class=@($"vertical {Class}") style=@($"align-items: {HorizontalAlign}; justify-content: {VerticalAlign}; flex-wrap: {Wrap}; gap: {Gap}; {Css}") onclick=@OnClick>
    @ChildContent
</div>
