@page "/cache"

<h3>@Text</h3>

<p>@Json?.Title</p>

@code
{
    [Inject]
    private CacheService CacheService { get; set; }

    [Inject]
    private DataService DataService { get; set; }

    private string Text { get; set; }

    private DemoPost Json { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Text = CacheService.Get<string>("time");

        if (Text == null)
        {
            await Task.Delay(100);
            Text = DateTime.Now.ToLongTimeString();
            CacheService.Set("time", Text);
        }

        Json = await DataService.GetDemoJson<DemoPost>();
    }
}