@page "/"

<h1>Hello, world!</h1>

<ThemeToggle />

<Layout Visible="mobile">
    Only mobile
</Layout>

<Layout Visible="laptop desktop">
    Only laptop and desktop
</Layout>

<Layout Visible="desktop ultrawide">
    Only desktop and ultrawide
</Layout>

<CircleImage Src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Shaqi_jrvej.jpg/1200px-Shaqi_jrvej.jpg" />

Welcome to your new app.
