<div class="finance-chart" style=@($"height: {Height}")>
    @if (Data == null)
    {
        <LoadingIndicator />
    }

    @if (Data != null)
    {
        <div class="chart">
            <SfChart Theme=@Theme.Material Background=@Colors.Transparent Height="350">

                <ChartPrimaryXAxis ValueType=@Syncfusion.Blazor.Charts.ValueType.DateTimeCategory IntervalType=@ChartIntervalType LabelFormat=@ChartIntervalType.ToFormat() LabelIntersectAction=@LabelIntersectAction.Hide EdgeLabelPlacement=@EdgeLabelPlacement.Shift>
                    <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                </ChartPrimaryXAxis>

                <ChartPrimaryYAxis ValueType=@Syncfusion.Blazor.Charts.ValueType.Double Span="1" OpposedPosition="true" LabelIntersectAction=@LabelIntersectAction.Hide RowIndex="1" RangePadding=@ChartRangePadding.Additional Minimum=@Minimum Maximum=@Maximum>
                    <ChartAxisMajorGridLines Width="1"></ChartAxisMajorGridLines>
                </ChartPrimaryYAxis>

                <ChartAxes>
                    <ChartAxis Name="Volume" ValueType=@Syncfusion.Blazor.Charts.ValueType.Double RowIndex="1" Visible="false" Maximum=@VolumeMax Minimum=@VolumeMin>
                        <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                    </ChartAxis>
                </ChartAxes>

                <ChartRows>
                    <ChartRow Height="0%"></ChartRow>
                    <ChartRow Height="100%"></ChartRow>
                </ChartRows>

                <ChartSeriesCollection>
                    <ChartSeries DataSource=@RangedData XName="Date" Open="Open" Close="Close" High="High" Low="Low" Type=@ChartSeriesType.Candle />
                    <ChartSeries DataSource=@RangedData XName="Date" YName="Volume" Type=@ChartSeriesType.Column Fill=@Colors.Warning YAxisName="Volume" />
                </ChartSeriesCollection>

            </SfChart>
        </div>

        @if (SelectorType == SelectorType.Small)
        {
            <div class="range">
                <SfRangeNavigator DataSource=Data Value=@Range ValueChanged=@RangeChanged XName="Date" YName="Value" Theme=@Theme.Material Height="100" ValueType="Syncfusion.Blazor.Charts.RangeValueType.DateTime" IntervalType=@RangeIntervalType LabelFormat=@RangeIntervalType.ToFormat()>
                    <RangeNavigatorStyleSettings SelectedRegionColor=@Colors.Primary></RangeNavigatorStyleSettings>
                </SfRangeNavigator>
            </div>
        }

        @if (SelectorType == SelectorType.Large)
        {
            <div class="range">
                <SfRangeNavigator Value=@Range ValueChanged=@RangeChanged Theme=@Theme.Material Height="100" ValueType="Syncfusion.Blazor.Charts.RangeValueType.DateTime" IntervalType=@RangeIntervalType LabelFormat=@RangeIntervalType.ToFormat()>
                    <RangeNavigatorSeriesCollection>
                        <RangeNavigatorSeries DataSource=Data Fill=@Colors.Warning Type=@RangeNavigatorType.Line Width="2" XName="Date" YName="Value" />
                    </RangeNavigatorSeriesCollection>
                </SfRangeNavigator>
            </div>
        }
    }
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public IEnumerable<StockPrice> Data { get; set; }

    [Parameter]
    [EditorRequired]
    public DateTime StartDate { get; set; }

    [Parameter]
    [EditorRequired]
    public DateTime EndDate { get; set; }

    [Parameter]
    public SelectorType SelectorType { get; set; } = SelectorType.Small;

    [Parameter]
    public decimal? Minimum { get; set; } = null;

    [Parameter]
    public decimal? Maximum { get; set; } = null;

    [Parameter]
    public IntervalType ChartIntervalType { get; set; } = IntervalType.Days;

    [Parameter]
    public RangeIntervalType RangeIntervalType { get; set; } = RangeIntervalType.Years;

    private DateTime[] Range { get; set; }

    private string Height { get => SelectorType == SelectorType.Large ? "450px" : SelectorType == SelectorType.Small ? "400px" : "350px"; }

    private IEnumerable<StockPrice> RangedData { get => Data.Where(d => d.Date >= Range[0] && d.Date <= Range[1]); }

    private decimal VolumeMin { get => RangedData.Any() ? RangedData.Min(s => s.Volume) * 1 : 0; }

    private decimal VolumeMax { get => RangedData.Any() ? RangedData.Max(s => s.Volume) * 4 : 0; }

    protected override void OnParametersSet()
    {
        Range = new DateTime[] { StartDate, EndDate };
    }

    private void RangeChanged(object args)
    {
        Range = (DateTime[])args;
    }
}