@namespace Common.Web

<Button OnClick=@OnClick Color="" Class="logo-button" Style=@($"width: 120px; height: 80px; margin: {Margin}")>
    <Vertical>
        <Icon Style="font-size: 40px;" Width="auto" Height="40px" IconType=@IconType />
        <div>@Text</div>
    </Vertical>
</Button>

@code
{
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    [EditorRequired]
    public string IconType { get; set; }

    [Parameter]
    [EditorRequired]
    public string Text { get; set; }

    [Parameter]
    public Border Margin { get; set; } = new Border("0px");
}