.toggle-body {
    display: flex;
    justify-content: center;
    --border-width: 6px;
    --border-radius: 55px;
    --font-size: 30px;
    --accent: var(--primary-color);
    transform: scale(0.35) translate(0, 0);
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    margin-top: -35px;
    margin-bottom: -25px;
}

.toggle-container {
    perspective: 800px;
    width: 472px;
}

.toggle {
    width: 472px;
    position: relative;
    border: solid var(--border-width) var(--accent);
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
    transform-style: preserve-3d;
    perspective: 800px;
    max-width: 100% !important;
}

    .toggle > input[type="radio"] {
        display: none;
    }

    .toggle > #choice1:checked ~ #flap {
        transform: rotateY(-180deg);
    }

        .toggle > #choice1:checked ~ #flap > .content {
            transform: rotateY(-180deg);
        }

    .toggle > #choice2:checked ~ #flap {
        transform: rotateY(0deg);
    }

    .toggle > label {
        display: inline-block;
        min-width: 170px;
        padding: 30px;
        font-size: var(--font-size);
        text-align: center;
        color: var(--accent);
        cursor: pointer;
    }

    .toggle > label,
    .toggle > #flap {
        font-weight: bold;
        text-transform: capitalize;
    }

    .toggle > #flap {
        position: absolute;
        top: calc(0px - var(--border-width));
        left: 50%;
        height: calc(100% + var(--border-width) * 2);
        width: 51%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size);
        background-color: var(--accent);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        transform-style: preserve-3d;
        transform-origin: left;
        transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
    }

        .toggle > #flap > .content {
            color: #ffffff;
            transition: transform 0s linear 0.25s;
            transform-style: preserve-3d;
        }
